<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net472" />
  <package id="NAudio" version="1.8.5" targetFramework="net472" />
  <package id="NAudio.Vorbis" version="1.0.0.0" targetFramework="net472" />
  <package id="NVorbis" version="0.8.6" targetFramework="net472" />
  <package id="taglib" version="2.1.0.0" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>